<% layout('layouts/indexBoilerplate') %>

<div id="clusterMap"></div>
<div class="container mt-5">
  <h1>All Campgrounds</h1>

  <ul class="ps-0">
    <% for (let campground of campgrounds) { %>
    <div class="card mb-3">
      <div class="row">
        <div class="col-md-4">
          <% if(campground.images.length) { %>
          <img
            crossorigin="anonymous"
            src="<%= campground.images[0].url %>"
            alt=""
            class="img-fluid"
          />
          <% } else { %>
          <img
            crossorigin="anonymous"
            src="https://res.cloudinary.com/dke61jwv5/image/upload/v1713528047/YelpCamp/tq3xn9kj24iz8hn0pmsv.jpg"
            alt=""
            class="img-fluid"
          />
          <% } %>
        </div>
        <div class="col-md-8">
          <div class="card-body">
            <h5 class="card-title"><%= campground.title %></h5>
            <p class="card-text"><%= campground.description %></p>
            <p class="card-text">
              <small class="text-muted"><%= campground.location %></small>
            </p>
            <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary"
              >View <%= campground.title %></a
            >
          </div>
        </div>
      </div>
    </div>
    <% } %>
  </ul>
</div>
<script>
  const mapToken = "<%- process.env.MAPBOX_TOKEN %>";
  const campgrounds = {features:  <%- JSON.stringify(campgrounds) %>}
</script>

<script src="/javascripts/clusterMap.js"></script>
